@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    font-size: 10pt;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --accent-color: rgb(18, 99, 171);
    --accent-color-50: rgb(18, 99, 171, 0.5);
    --accent-grey: #666;
    text-wrap: pretty;
}

html {
    background-color: var(--accent-grey);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent-color);
    margin: 0;
}

#root {
    display: contents;
}

.page {
    @extend .flex-col;
    background: white;
    color: black;
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    page-break-inside: avoid;
    overflow: hidden;

    > * {
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;
    }

    // 2
    > header {
        height: 2in;
        // 0.25
        padding-bottom: 0.125in;
        margin-bottom: 0.125in;
    }

    // 7.5
    > main {
        height: 7.5in;
        flex-grow: 1;
    }

    // 0.5
    > footer {
        height: 0.5in;
    }

    // 2 + 7.5 + 0.5 = 10

    & + .page {
        // 1.25
        > header {
            height: 1.25in;
            padding-bottom: 0.125in;
            margin-bottom: 0.125in;
        }

        // 8
        > main {
            height: 8.25in;
            flex-grow: 1;
        }
    }

    @media screen {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        margin: 0 auto;

        & + .page {
            margin-top: 1rem;
        }
    }
}

header {
    @extend .flex-row;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .intro {
        flex: 0 0 100%;
        font-style: italic;
        margin-top: 1rem;
    }

    svg {
        width: 0.1in;
        height: 0.1in;
    }

    .title {
        justify-content: flex-start;
        gap: 0;
        color: var(--accent-color);
    }

    h1 {
        font-weight: 600;
        font-size: 5rem;
        line-height: 1;
        letter-spacing: -0.025em;
        transform: skewX(1deg) skewY(6rem);
    }

    h2 {
        font-size: 2rem;
        transform: skewX(1deg);
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .contact ul {
        @extend .flex-col;
        gap: 0.25rem;
        text-align: right;
    }
}

main {
    @extend .flex-row;
    gap: 2rem;
    row-gap: 1.5rem;

    &[data-col] {
        @extend .flex-col;
    }
}

.skills-certifications {
    @extend .flex-col;
    width: 1.7in;
    gap: 1rem;
    flex-shrink: 0;

    .time {
        color: var(--accent-grey);
        transform: skewX(-10deg);
    }

    * + h2 {
        margin-top: 1.2React Native5rem;
    }

    li {
        display: block;
    }

    > ul {
        @extend .flex-col;
        gap: 1rem;

        h4 {
            margin-bottom: 0.5em;
        }

        ul {
            @extend .flex-col;
            gap: 0.25rem;
            list-style: none;

            li {
                @extend .flex-row;
                justify-content: space-between;
                align-items: center;
                gap: 0.5rem;

                span:nth-child(2) {
                    display: inline-block;
                    height: 4px;
                    flex-grow: 1;
                    border-bottom: dashed 1px var(--accent-color);
                    opacity: 0.5;
                }

                .time {
                    color: #999;
                }
            }
        }
    }
}

.experience {
    @extend .flex-col;
    gap: 1.5rem;

    aside {
        @extend .flex-col;
        gap: 0.5rem;
    }

    ul {
        @extend .flex-col;
        gap: 0.5rem;
    }

    .company-time {
        @extend .flex-row;
        gap: 2rem;
    }

    .company {
        font-weight: 600;
    }

    .time {
        color: var(--accent-grey);
        transform: skewX(-10deg);
    }
}

.quote {
    @extend .flex-col;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem auto 0;

    span:nth-child(1) {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--accent-color);
    }

    span:nth-child(2) {
        font-size: 1.5rem;
        color: var(--accent-grey);
    }
}

footer {
    @extend .flex-row;
    justify-content: space-between;
    align-items: flex-end;

    div:nth-child(1) {
        font-weight: 600;
        color: var(--accent-color);
    }

    div:nth-child(2) {
        transform: skewX(-10deg);
        color: var(--accent-grey);
    }

    div:nth-child(3) {
    }
}
